body.frame {
    border: 10px solid var(--highlight-color);
}
.author img {
    border: none;
}
.menu-main > ul > li > a {
    white-space: nowrap;
}
img[src*='#center'] {
    display: block;
    margin: auto;
}